@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* font-family: 'Kaushan Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
/* font-family: 'Space Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
/* font-family: 'Quicksand', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* font-family: 'Indie Flower', cursive; */

/* ============ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(90.06deg, #3A928C 0.05%, rgba(31, 134, 191, 0.79) 99.93%); */
    /* background: url(./assets/pexels-roberto-nickson-2885320.jpg); */
    /* background: linear-gradient(90.32deg, #557C93 -1.77%, #B5C6E0 -1.76%, rgba(235, 244, 245, 0.79) 103.49%); */
    /* background: url(./assets/pexels-roberto-nickson-2885320.jpg); */
    /* background: linear-gradient(122.74deg, #234B66 22.23%, rgba(35, 78, 102, 0.1) 104.7%); */
    /* background: #c8d8e4; */
    background: url(./assets/animebg.jpg);
    /* background:url(./assets/animbg.jpg); */
    /* background: linear-gradient(81.95deg, #023047 7.4%, rgba(211, 236, 227, 0.79) 99.2%); */
    z-index: -1;
}
nav{
    display: grid;
    grid-template-columns: 25% 1fr 1fr 1fr 1fr 1fr 15%;
    height: 15vh;   
    align-items: center;
}
nav h3 a{
    font-family: 'Roboto';
font-style: normal;
color: #F8FAFC;
font-weight: 300;
font-size: 18px;
letter-spacing: 0.28em;
text-decoration: none;
}
nav h3:hover{
    cursor: pointer;
  box-shadow: inset 50px 0 0 0 #54b3d6;;
    transition: 1s;
}
#logo{
    grid-column: 1/5;
    color: #ffffff;
    margin-left: 18px;
    margin-top: 0px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight:800;
    font-size: 26px;
 }
 .hamburger{
     justify-self: end;
 }
 section{
     display: flex;
     height: 85vh;
     justify-content: center;
     align-items: center;
 }

 .hero img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
 }
 .hero{
     height: 75%;
     width: 85%;
     position: relative;
     background:  #234B66;
    
 }
 .headline{
     position: absolute;
     top: 25%;
     left: 5%;
     transform: translate(-20%, -70%);
     font-size: 65px;
     color: #ffffff;
     z-index: 3;
 }

 /* this is just to add contrast and apply opacity to background image 
 and position relative of hero if for applying after chsnges to that option only === */
 .hero::after{
     content: " ";
     background: #000000ac;
     width: 100%;
     height: 100%;
     position: absolute;
     left: 0;
     top: 0;
     opacity: 0.25;
 }
 .footer-one h1{
     text-align: center;
     margin-top: 28px;
     height: 40vh; 
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);

 }
.sectiontwo{
    background: #edf6f9;

}
 section .mydata{
     background: white;
     box-sizing: border-box;
     padding: 45px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 }
 
 section .mydata p{
     font-size: 17px;
     color: rgb(0, 0, 0);
     line-height: 28px;
     font-family: 'Quicksand', sans-serif; 
 }
 section .mydata .textglow{
     color: #7dba15;
 }

 .sectiontwo .mygallery{
     padding: 15px;
     margin: 35px;
     width: 250px;
     height: 320px;
     border: 4px solid rgb(7, 122, 160);
     /* position: fixed; */
 }

 .sectiontwo .mygallery .mygalleryprim, .mygallerysec{
     width: 110px;
     height: 110px;
 }
 .sectiontwo .mygallery .mygalleryprim{
    border: 4px solid lime;
}
 .sectiontwo .mygallery .mygallerysec{
     font-size: 55px;
     border: 4px solid lime;
     position: relative;
     bottom: 0px;
     left: 0px;
 
 }
/* ========================== */
.hero-container-one{
margin-left: 150px;
margin-top: 86px;  
position: relative; 
box-sizing: border-box;
color: #ffffff;
}
.hero-container-one p{
    font-weight: 400;
    text-shadow: 4px 4px 6px rgba(50, 56, 56, 0.499);
    line-height: 38px;

    }
.hero-container-one :nth-child(1){
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Open Sans', sans-serif;
    font-size: 37px;
    color: #ffffff;
}
.hero-container-one :nth-child(2){
    font-size: 18px;
    text-align: left;
    justify-content: left;
}
.hero-container-one .identity{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: 500;
}
  .hero-container-one :nth-child(3){
    font-size: 17px;
}
.hero-container-one p{
    font-family: 'Space Mono', monospace;
    font-size: 28px;
}
.hero-container-one p .mood{
     font-family: 'Space Mono', monospace;
     font-size: 18px;
     text-decoration: none;
     color: #d6e814;
}
.hero-container-one p .mood:hover{
    color: #ffffff;
    transition: 1s;
}
.my-prof {
    background: url(./assets/itsme.svg);
}
.identity {
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
    background-image: linear-gradient(120deg, #6aacc6ed 40%, #b6c7ced8 40%, #7dbf61a4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
  }
  .identity:hover{
    background-size: 100% 0.8em;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    transition: .7s;
  
}
@media only screen and (max-width: 600px) {
        .hero-container-one{
        /* margin-left: 90px;  */
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 30px;  
        width: 100%;
        position: relative; 
        }
        #logo{
            grid-column: 1/5;
    font-size: 25px;
    color: #000000;
    font-size: 19px;
        }
        .hero-container-one p{
            text-align: center;
            
            justify-content: center;
            /* background-color: rgb(128, 167, 29); */
            /* line-height: 60px; */
            color: #000000;
            font-size: 5px;
            text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.35);
            }
        .hero-container-one :nth-child(1){
            font-family: 'Dancing Script', cursive;
        }
        .hero-container-one :nth-child(2){
            font-size: 14px;
            display: grid;
        }
        .hero-container-one :nth-child(3){
            font-size: 14px;}
            
        .hero-container-one .identity{
            font-family: 'Kaushan Script', cursive;
        }
        .hero-container-one p{
            font-family: 'Space Mono', monospace;
            font-size: 28px;
        }
        .sectiontwo{
            display: grid;
            /* flex-direction: row; */
        }
        section .mydata{
            background: white;
            box-sizing: border-box;
            padding: 45px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            width: 380px;
            height: 300px;
            margin-top: 18px;
        }
        section .mydata p{
            font-size: 13px;
        }
        

  }
