@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* font-family: 'Kaushan Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
/* font-family: 'Space Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
/* font-family: 'Quicksand', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* font-family: 'Indie Flower', cursive; */


*{
    margin: 0;
    padding: 0;
}
.slider{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(90.06deg, #3A928C 0.05%, rgba(31, 134, 191, 0.79) 99.93%); */
    /* background: url(./assets/pexels-roberto-nickson-2885320.jpg); */
    /* background: linear-gradient(90.32deg, #557C93 -1.77%, #B5C6E0 -1.76%, rgba(235, 244, 245, 0.79) 103.49%); */
    /* background: url(./assets/pexels-roberto-nickson-2885320.jpg); */
    /* background: linear-gradient(122.74deg, #234B66 22.23%, rgba(35, 78, 102, 0.1) 104.7%); */
    /* background: #c8d8e4; */
    background: url(./assets/animebg.jpg);
    /* background:url(./assets/animbg.jpg); */
    /* background: linear-gradient(81.95deg, #023047 7.4%, rgba(211, 236, 227, 0.79) 99.2%); */
    z-index: -1;
}
nav{
    display: grid;
    grid-template-columns: 25% 1fr 1fr 1fr 1fr 1fr 15%;
    height: 15vh;   
    align-items: center;
}
nav h3 a{
    font-family: 'Roboto';
font-style: normal;
color: #F8FAFC;
font-weight: 300;
font-size: 18px;
letter-spacing: 0.28em;
text-decoration: none;
}
nav h3:hover{
    cursor: pointer;
  box-shadow: inset 50px 0 0 0 #54b3d6;;
    transition: 1s;
}
#logo{
    grid-column: 1/5;
    color: #ffffff;
    margin-left: 18px;
    margin-top: 0px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight:800;
    font-size: 26px;
 }
 .hamburger{
     justify-self: end;
 }
 section{
     display: flex;
     height: 85vh;
     justify-content: center;
     align-items: center;
 }

 .hero img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
 }
 .hero{
     height: 75%;
     width: 85%;
     position: relative;
     background:  #234B66; 
 }
 .headline{
     position: absolute;
     top: 25%;
     left: 5%;
     transform: translate(-20%, -70%);
     font-size: 65px;
     color: #ffffff;
     z-index: 3;
 }

 /* this is just to add contrast and apply opacity to background image 
 and position relative of hero if for applying after chsnges to that option only === */
 .hero::after{
     content: " ";
     background: #000000ac;
     width: 100%;
     height: 100%;
     position: absolute;
     left: 0;
     top: 0;
     opacity: 0.25;
 }
 .footer-one h1{
     text-align: center;
     margin-top: 28px;
     height: 40vh; 
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
     color: #8fd3f4;

 }  
 .sectiontwo{
     margin: 45px auto;
     margin-top: 115px;
     /* background: #54b3d6; */
 }
 .sectiontwo .mydata{
     padding: 24px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
     width: 45%;
     background: rgb(255, 255, 255);
     text-align: center;
     font-size: 17px;
     max-width: 700px;
     margin-top: 35px;
     margin: 0 auto;
     font-family: 'Quicksand', sans-serif;
     /* font-family: 'Indie Flower', cursive; */
 }
 .sectiontwo .mydata p{
     padding: 38px;
 }
 .sectiontwo .mydata .textglow{
     color: #7dba15;
 }
 .sectiontwo .gallery-box{
     justify-content: center;
     text-align: center;
     background: rgb(10, 56, 91);
     width: 35%;
     color: #ffffff;
     max-width: 155px;
     font-size: 21px;
     padding: 18px;
     margin: 0 auto;
     margin-top: -15px;
 }
 .sectiontwo .gallery-box:hover{
     transform:scale(1.05);
     transition: 1s;
 }

/* ========================== */
.hero-container-one{
margin-left: 150px;
margin-top: 86px;  
position: relative; 
box-sizing: border-box;
color: #ffffff;
}
.hero-container-one p{
    font-weight: 400;
    text-shadow: 4px 4px 6px rgba(50, 56, 56, 0.499);
    line-height: 38px;

    }
.hero-container-one :nth-child(1){
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Open Sans', sans-serif;
    font-size: 37px;
    color: #ffffff;
}
.hero-container-one :nth-child(2){
    font-size: 18px;
    text-align: left;
    justify-content: left;
}
.hero-container-one .identity{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: 500;
}
  .hero-container-one :nth-child(3){
    font-size: 17px;
}
.hero-container-one p{
    font-family: 'Space Mono', monospace;
    font-size: 28px;
}
.hero-container-one p .mood{
     font-family: 'Space Mono', monospace;
     font-size: 18px;
     text-decoration: none;
     color: #d6e814;
}
.hero-container-one p .mood:hover{
    color: #ffffff;
    transition: 1s;
}
.my-prof {
    background: url(./assets/itsme.svg);
}
.identity {
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
    background-image: linear-gradient(120deg, #6aacc6ed 40%, #b6c7ced8 40%, #7dbf61a4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
  }
  .identity:hover{
    background-size: 100% 0.8em;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    transition: .7s;
  
}


.footer-one {
    margin: auto;
    /* padding: 35px;  */
}
.footer-one a div{
    padding: 6px;
    margin: 15px;
}
.footer-one a img{
    border: 2px double rgb(217, 231, 68);
    text-align: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.footer-one a img:hover{
    transform:scale(1.02);
    transition: .7s;
}
.footer-one div {
    margin: 0px auto;
    
    /* margin-left:0;   */
}
.footer-one p{
    text-align: center;
    margin: 0 auto  ;
    font-size: 2rem;
    padding: 4px;

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mydata {
        min-width: 330px;
        padding: 0;
    }
    .sectiontwo{
        margin: 16px auto;
        margin-top: 15px;
    }
    .footer-one a img{
        width: 85%;
        text-align: center;
        /* margin: 0 auto; */
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .footer-one a img:hover{
        transform:scale(1.02);
        transition: .7s;
    }
    .footer-one a{
        margin-left:0;  
    }
    .footer-one p{
        text-align: center;
        margin: 0 auto  ;
        font-size: 2rem;
        padding: 4px;

    }
  }