@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* font-family: 'Kaushan Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
/* font-family: 'Space Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
/* font-family: 'Quicksand', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* font-family: 'Indie Flower', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
/* font-family: 'Quicksand', sans-serif; */

*{
    margin: 0;
    padding: 0;
}
.navb{
    /* border: 4px solid crimson; */
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.navb ul{
    float: right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 18px;
}
.navb ul li a {
    text-decoration: none;
    font-size: 22px;
}
.navb ul li{
    margin-right: 24px;
    
    /* margin-top: 0px auto; */
}

.navb div a img{
    margin-left: 38px;
    margin-top: 26px;
    margin: 18px auto 0px 43px;
}
/* --------------------------------------- */
.hero-container .myintro{
    display: block;
    display: flex;
    border: 8px solid lightblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 19px;
    /* width: 100%; */
    min-height: 40vh;
    /* min-height: 60vh; */
}
.hero-container .myintro img{
    /* display: none; */
    /* display: block; */
    width: 100%;
    height: 500px;
    margin: 0 auto;
    object-fit: cover;

    
}
.hero-container .myintro-prim{
    position: absolute;
    margin: 0 auto;
    margin-top: -450px;
    margin-left:15%;
    text-align: center;
}
.hero-container .myintro-prim h1{
    color: black;
/* font-family: 'Kaushan Script', cursive; */
/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Space Mono', monospace; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Quicksand', sans-serif; */
/* font-family: 'Indie Flower', cursive; */
font-family: 'Quicksand', sans-serif;
}
.hero-container .myintro-prim p{
    font-family: 'Space Mono', monospace;
    text-align: center;
    margin-top: 10px;
}

 .sectiontwo{
     margin: 45px auto;
     margin-top: 115px;
     /* background: #54b3d6; */
 }
 .sectiontwo .mydata{
     padding: 24px;
     width: 45%;
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
     background: rgb(255, 255, 255);
     text-align: center;
     font-size: 17px;
     max-width: 700px;
     margin-top: 35px;
     margin: 0 auto;
     font-family: 'Quicksand', sans-serif;
     /* font-family: 'Indie Flower', cursive; */
 }
 .sectiontwo .mydata p{
     padding: 38px;
 }
 .sectiontwo .mydata .textglow{
     color: #7dba15;
 }
 .sectiontwo .gallery-box{
     justify-content: center;
     text-align: center;
     background: rgb(10, 56, 91);
     width: 35%;
     color: #ffffff;
     max-width: 155px;
     font-size: 21px;
     padding: 18px;
     margin: 0 auto;
     margin-top: -15px;
     z-index: 55;
 }
 .sectiontwo .gallery-box p a{
     text-decoration: none;
     color: white;
     text-align:center;
 }

 .sectiontwo .gallery-box:hover{
     transform:scale(1.05);
     transition: 1s;
 }
 .mygallery-bg{
    padding: 24px;
    width: 45%;
    text-align: center;
    max-width: 700px;
    margin-top: 35px;
    margin: -40px auto;
    margin-bottom: 55px;
    z-index:-22;
    position: relative;
 }
 .mygallery-bg img{
     width: 270px;
     border-bottom: 45px solid #283618;
     border-right: 75px solid #283618;
     border-left: 75px solid #283618;
     margin: 0px auto 0px -19px;
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }

.project-sectio-one {
    margin: auto;
    /* padding: 35px;  */
}
.project-sectio-one a div{
    padding: 6px;
    margin: 15px;
}
.project-sectio-one a img{
    border: 2px double rgb(217, 231, 68);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.project-sectio-one a img:hover{
    /* transform:scale(1.02);
    transition: .7s; */
    transform: rotate(0deg) scale(1) translateY(-10px);
    transition: .7s all ease;
}
.project-sectio-one div {
    margin: 0px auto;
    
    /* margin-left:0;   */
}
.project-sectio-one p{
    text-align: center;
    margin: 0 auto  ;
    font-size: 2.2rem;
    padding: 4px;

}

footer .contact-box{
    background-color: rgb(255, 255, 255);
    width: 80%;
    justify-content: center;
    align-content: center;
    /* margin: 0 auto; */
    box-shadow: rgba(22, 26, 24, 0.667) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;    min-height: 40vh;
    margin: 32px auto 31px auto;
}
footer .contact-box h1{
    text-align: left;
    padding: 18px;
    color: black;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Indie Flower';
    margin-left: 18px;
}
footer .contact-box .contact-box-prim {
    margin-left: 18px;
    width: 25%;
    display: flex;

}
footer .contact-box .contact-box-prim-one div{
    display: flex;
}
footer .contact-box .contact-box-prim-one a{
    margin: 0px auto 0px 19px;
    padding: 8px;
    text-decoration: none;
    color: black;
    display: grid;
}
.contact-box-prim-two>div{
    margin: 45px auto;
    margin-left: 150px;
}
.contact-box-prim-two p:nth-child(1){
    color: black;
    font-size: 1.2rem;
    opacity: .6;
    text-align: center;
}
.contact-box-prim-two p:nth-child(2){
    color: black;
    font-size: 1rem;
    text-align: center;
    margin-top: 2px;
}
.contact-box-prim-two p{
    padding: 4  px;   
    width: 200px;
}
footer .contact-box .contact-box-sec img{
    border-radius: 50%;
    box-shadow: rgba(158, 192, 20, 0.46) 0px 24px 55px, rgba(32, 156, 175, 0.553) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 0 auto;
    margin-right: 48px;
}
.contact-box-horizon{
    display: flex;
    justify-content: space-between;
}

/* ================================================================ */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navb div a img{
        width: 150px;
    }
    .hero-container{
        min-height: 55vh;
    }
    .hero-container .myintro{
        display: block;
    
        margin-left: auto;
        margin-right: auto;
        margin-top: 19px;
        /* width: 100%; */
        /* min-height: 40vh; */
        /* min-height: 60vh; */
    }
    .hero-container .myintro img{
        width: 100%;
        
    }
    .hero-container .myintro-prim{
        position: relative;
        margin: 0 auto;
        margin-top: -450px;
        /* margin-left: 15%; */
        text-align: center;
    }
    .hero-container .myintro-prim h1{
        color: black;
    font-family: 'Quicksand', sans-serif;
    }
    .hero-container .myintro-prim p{
        font-family: 'Space Mono', monospace;
        text-align: center;
        margin-top: 10px;
    }
    .mydata {
        min-width: 330px;
        padding: 0;
    }
    .mygallery-bg{
        z-index:-22;
        position: relative;
        margin: auto auto  auto auto;
        margin-top: -55px;
        margin-right: 120px;
     }
     .mygallery-bg img{
        width: 70%;
         border-top: 45px solid #283618;
         border-right: 75px solid #283618;
         border-left: 75px solid #283618;
         /* margin: 0px auto; */
         justify-content: center;
         box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
     }
    .sectiontwo{
        margin: 16px auto;
        margin-top: 15px;
    }
    .project-sectio-one a img{
        width: 85%;
        text-align: center;
        /* margin: 0 auto; */
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .project-sectio-one a{
        margin-left:0;  
    }
    .project-sectio-one p{
        text-align: center;
        margin: 0 auto  ;
        font-size: 2rem;
        padding: 4px;

    }
    footer .contact-box{
        min-height: 30vh;
        margin-top: 55px;
    }
  }