
*{
    padding: 0;
    margin: 0;
}

.hero-container{
    background: rgb(255, 255, 255);
    height: 100vh;
}
.hero-container nav div{
    display: flex;
    flex-direction: row;
}
.hero-container nav div:nth-child(2){
    justify-content: center;
    text-decoration: none;
    margin: auto 0;
    text-align: center;
    /* margin-right: 70px; */
}
.hero-container nav div:nth-child(2) a{
    text-decoration: none;
    margin-right: 18px;
    margin-bottom: 9px;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
}
.hero-container nav div:nth-child(2) a:hover{
    transform: scale(1.05);
    color: rgb(22, 73, 103);
    transition: 1s;
}
.hero-container nav h3{

    padding: 5px 12px;
    font-weight: 700;
    font-size: 18px;
    font-family: monospace;
}
.hero-container h2{
    display: flex;
    text-align: center;
}
.hero-container .hero-container-prim{
    /* margin: 15px; */
    background: url(./asset/cloudBg\ \(1\).jpg) 50%;
    /* width: 80%; */
    height: 80vh;
    margin: 25px 35px;
}

.hero-container-sec{
    justify-content:center;
    align-items: center;
    /* display: flex; */
    background:whitesmoke;
    color: black;
    /* padding: 0px 0px; */
    width: 165px;
    height: 140px;
    position: absolute;
    margin: 280px 650px;
    
}

.hero-container-sec h1{
    text-align: center;
    /* width: auto;
  height: auto; */
  font-family: monospace;
  color: rgb(13, 13, 13);
  margin: 0px auto;
  padding: 27px;
  /* position: relative; */
}

.hero-container-sec p{
    font-weight: 300;
    font-size: 1.1rem;
    display: flex;
    width: 280px;
    text-align: center;
    margin: 58px -43px;
    color: white;
    font-family: sans-serif;
}

/* .navb{
    width: 100%;
    height: 15vh;
    background:rgb(255, 255, 255);
}
.navb h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;

} */

footer .contact-box{  
    width: 80%;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    box-shadow: rgba(22, 26, 24, 0.667) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;    min-height: 40vh;
    margin: 32px auto 31px auto;
}
footer .contact-box h1{
    text-align: center;
    padding: 18px;
    font-size: 1.7rem;
    font-weight: 300;
    color: black;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Indie Flower';
    margin-left: 18px;
}
footer .contact-box .contact-box-prim {
    display: flex;
    justify-content: space-around;

}
footer .contact-box .contact-box-prim .contact-box-prim-one{
    margin-bottom: 12px;
}
/* footer .contact-box .contact-box-prim-one div{
    display: flex;
} */
footer .contact-box .contact-box-prim-one a{
    margin: 5px auto 0px 19px;
    padding: 8px;
    text-decoration: none;
    color: black;
    display: grid;
    font-size: 1.14rem;
}
.contact-box-prim-two{
    margin: auto 7px;
    font-size: 8px;
    height: 8vh;
}
.contact-box-prim-two p:nth-child(1){
    color: black;
    font-size: 1.2rem;
    text-align: center;
}
.contact-box-prim-two a {
    text-decoration: none;
    color: rgb(127, 207, 51);

}

.contact-box-prim-two a {
    font-family:  monospace;
    font-size: 1.11rem;
    text-align: center;
    color: rgb(127, 207, 51);
}
footer .contact-box .contact-box-sec img{
    border-radius: 50%;
    box-shadow: rgba(37, 38, 36, 0.46) 0px 24px 55px, rgba(32, 156, 175, 0.553) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* margin: 0 43px ; */
    margin-right: 84px;
    justify-content: center;
    text-align: center;
}


@media only screen and (max-width: 600px) {

    .hero-container{
        width: 100%;

    }
    .hero-container-sec{
        margin:155px 105px;
    }
   
    footer .contact-box{
        min-height: 30vh;
        margin: 42px auto;
        width: 92%;
    }
    
    footer .contact-box .contact-box-prim{
        display: grid;
        margin: 0 auto;
    }
    footer .contact-box .contact-box-prim .contact-box-prim-one{
        display: flex;
    }
    footer .contact-box .contact-box-prim .contact-box-prim-one hr{
        width: 55px;
    }
    footer .contact-box .contact-box-prim .contact-box-prim-two{
        margin: 22px auto;
    }
    footer .contact-box .contact-box-prim .contact-box-prim-two p{
        font-size: 16.5px;
        color: #727272;
        font-weight: 300;
    }
    footer .contact-box .contact-box-prim .contact-box-prim-two a p{
        font-size: 14px;
        color: rgb(0, 0, 0);
    }
    footer .contact-box .contact-box-prim .contact-box-sec{
        margin: 0 auto;
    }
    footer .contact-box .contact-box-prim .contact-box-sec img{
        margin: 0 auto; 
        width: 131px;
    }
  }

  @media only screen and (max-width: 380px) {

    .hero-container{
        width: 100%;

    }
    .hero-container-sec{
        margin:145px 65px;
    }

}